<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h1 class="logo"><a href="http://www.davidkyoo.com">David Yoo</a></h1>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
            <li>
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
